<template>
  <div class="section">
    <bread-crumbs :crumbs="crumbs"></bread-crumbs>

    <h1 class="title is-1"> Creating new Teacher </h1>
    <teacher-form type="create"></teacher-form>
  </div>
</template>

<script>
  import TeacherForm from './Form.vue'
  import BreadCrumbs from '../Breadcrumbs.vue'

  export default {
    data() {
      return {
        table_data: {},
        loaded: false,
        crumbs: {
          nav: [
            {
              link: 'home',
              name: 'Home',
            },
            {
              link:'teacher',
              name: 'Teachers'
            }
          ],
          current: 'Create'
        }
      }
    },
    components: {
      TeacherForm,
      BreadCrumbs
    }
  }
</script>
