<template>
  <div class="section">
    <bread-crumbs :crumbs="crumbs"></bread-crumbs>
    <h1 class="title is-1"> Editing {{teacher.name}} {{teacher.last_name}} </h1>
    <icon name="refresh" scale="2"  v-if="!loaded" spin></icon>
    <teacher-form type="edit" v-if="loaded" :old_teacher="teacher">
    </teacher-form>
  </div>
</template>

<script>
  import TeacherForm from './Form.vue'
  import BreadCrumbs from '../Breadcrumbs.vue'

  export default{
    data() {
      return {
        id: this.$route.params.id,
        teacher: {
          id: null,
          name: null,
          last_name: null
        },
        loaded: false,
        crumbs: {
          nav: [
            {
              link: 'home',
              name: 'Home',
            },
            {
              link:'teacher',
              name: 'Teachers'
            }
          ],
          current: 'Edit'
        }
      }
    },
    created: function () {
      let vm = this;
      let id = vm.id;
      let url = vm.url_backend + 'teacher/' + id;
      this.$http.get(url).then(function (result) {
        vm.teacher = result.body;
        vm.loaded = true;
      });
    },
    components:{
      TeacherForm,
      BreadCrumbs
    }
  }
</script>
