<template>
  <div class="form">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Name" v-model="teacher.name">
      </div>
    </div>

    <div class="field">
      <label class="label">Last Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Last Name" v-model="teacher.last_name">
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <a href="#" @click.prevent="save_teacher()" class="button is-link">Save</a>
      </div>
    </div>
  </div>
</template>

<script>
  import {router} from '../../main'


  export default {
    props: {
      type: {
        default: 'create'
      },
      old_teacher: {
        type: Object,
        default: function () {
          return {
            id: 0,
            name: "",
            last_name: ""
          }
        }
      }
    },
    created: function () {
      this.teacher.id = this.old_teacher.id;
      this.teacher.name = this.old_teacher.name;
      this.teacher.last_name = this.old_teacher.last_name;
    },
    methods: {
      save_teacher: function (data) {
        let vm = this;
        if (vm.type === 'create') {
          this.$http.post(vm.url_backend + 'teacher/', vm.teacher, {emulateJSON: true})
            .then(response => {
              vm.popup_continue();
            }, response => {
              console.log("error!");
            });
        } else {
          this.$http.patch(vm.url_backend + 'teacher/', vm.teacher, {emulateJSON: true})
            .then(response => {
              router.push({name: 'teacher'});
            }, response => {
              console.log("error!");
            });
        }
      },
      popup_continue: function () {
        let vm = this;
        vm.$swal({
          title: 'Success',
          text: 'The test was added successfully. Do you want to add more?',
          type: 'success',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No'
        }).then(function () {
          vm.teacher.name = '';
          vm.teacher.last_name = '';
        }, function (dismiss) {
          router.push({name: 'teacher'});
        });
      }
    },
    data() {
      return {
        teacher: {
          id: 0,
          name: '',
          last_name: ''
        }
      }
    },
  }
</script>
