<template>
  <div class="section">
    <bread-crumbs :crumbs="crumbs"></bread-crumbs>
    <h1 class="title is-1"> Teachers</h1>
    <router-link class="button is-primary is-pulled-right" :to="{name: 'teacher_create'}">
      <icon name="plus"></icon>
      New teacher
    </router-link>
    <br><br>
    <crud-table
      :table_data="table_data"
      v-if="loaded"
      @deleted="load_teachers">
    </crud-table>
  </div>
</template>

<script>
  import CrudTable from '../CRUDTable.vue'
  import BreadCrumbs from '../Breadcrumbs.vue'

  export default {
    data() {
      return {
        table_data: {},
        loaded: false,
        crumbs: {
          nav: [
            {
              link: 'home',
              name: 'Home',
            }
          ],
          current: 'Teachers'
        }
      }
    },
    created: function () {
      this.load_teachers();
    },
    methods: {
      load_teachers: function () {
        let vm = this;
        this.$http.get(
          vm.url_backend + 'teacher').then(function (result) {
          vm.table_data = result.body;
          vm.loaded = true;
        });
      },
    },
    components: {
      CrudTable,
      BreadCrumbs
    }
  }
</script>
