<template>
  <div class="section">

    <bread-crumbs :crumbs="crumbs"></bread-crumbs>
    <h1 class="title is-1"> Teacher #{{id}} </h1>
    <icon name="refresh" scale="2"  v-if="teacher === null" spin></icon>
    <table class="table" v-if="teacher !== null">
      <tbody>
      <tr>
        <th> Name: </th>
        <td> {{teacher.name}} </td>
      </tr>
      <tr>
        <th> Last Name: </th>
        <td> {{teacher.last_name }} </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import BreadCrumbs from '../Breadcrumbs.vue'

  export default{
    data() {
      return {
        id: this.$route.params.id,
        teacher: null,
        crumbs: {
          nav: [
            {
              link: 'home',
              name: 'Home',
            },
            {
              link:'teacher',
              name: 'Teachers'
            }
          ],
          current: 'Details'
        }
      }
    },
    created: function () {
      let vm = this;
      let id = vm.id;
      let url = vm.url_backend + 'teacher/' + id;
      this.$http.get(url).then(function (result) {
        vm.teacher = result.body;
      });
    },
    components: {
      BreadCrumbs
    }
  }
</script>
