<template>
  <div class="section">
    <bread-crumbs :crumbs="crumbs"></bread-crumbs>
    <h1 class="title is-1"> Creating new Student </h1>
    <student-form type="create"></student-form>
  </div>
</template>

<script>
  import StudentForm from './Form.vue'
  import BreadCrumbs from '../Breadcrumbs.vue'

  export default {
    data() {
      return {
        table_data: {},
        loaded: false,
        crumbs: {
          nav: [
            {
              link: 'home',
              name: 'Home',
            },
            {
              link:'student',
              name: 'Students'
            }
          ],
          current: 'Create Student'
        }
      }
    },
    components: {
      StudentForm,
      BreadCrumbs
    }
  }
</script>
