<template>
  <div class="section">
    <bread-crumbs :crumbs="crumbs"></bread-crumbs>
    <h1 class="title is-1"> Editing {{student.name}} {{student.last_name}} </h1>

    <icon name="refresh" scale="2"  v-if="!loaded" spin></icon>
    <student-form type="edit" v-if="loaded" :old_student="student">
    </student-form>
  </div>
</template>

<script>
  import StudentForm from './Form.vue'
  import BreadCrumbs from '../Breadcrumbs.vue'

  export default{
    data() {
      return {
        id: this.$route.params.id,
        student: {
          id: null,
          name: null,
          last_name: null
        },
        loaded: false,
        crumbs: {
          nav: [
            {
              link: 'home',
              name: 'Home',
            },
            {
              link:'student',
              name: 'Students'
            }
          ],
          current: 'Editing Student'
        }
      }
    },
    created: function () {
      let vm = this;
      let id = vm.id;
      let url = vm.url_backend + 'student/' + id;
      this.$http.get(url).then(function (result) {
        vm.student = result.body;
        vm.loaded = true;
      });
    },
    components:{
      StudentForm,
      BreadCrumbs
    }
  }
</script>
