<template>
  <div class="section">
    <h1 class="title is-1"> Students</h1>
    <bread-crumbs :crumbs="crumbs"></bread-crumbs>

    <router-link class="button is-primary is-pulled-right" :to="{name: 'student_create'}">
      <icon name="plus"></icon>
      New Student
    </router-link>
    <br><br>
    <crud-table
      v-if="are_students_loaded"
      :table_data="student_table_data"
      @deleted="load_students"
    >
    </crud-table>
  </div>
</template>

<script>
  import CrudTable from '../CRUDTable.vue'
  import BreadCrumbs from '../Breadcrumbs.vue'

  export default {
    data() {
      return {
        student_table_data: {},
        are_students_loaded: false,
        crumbs: {
          nav: [
            {
              link: 'home',
              name: 'Home',
            }
          ],
          current: 'Students'
        }
      }
    },
    created: function () {
      this.load_students();
    },
    methods: {
      load_students: function () {
        let vm = this;
        this.$http.get(vm.url_backend + 'student').then(function (result) {
          vm.student_table_data = result.body;
          vm.are_students_loaded = true;
        });
      },
    },
    components: {
      CrudTable,
      BreadCrumbs
    }
  }
</script>
