<template>
  <div class="section">
    <bread-crumbs :crumbs="crumbs"></bread-crumbs>
    <h1 class="title is-1"> Creating new Course </h1>
    <course-form type="create"></course-form>
  </div>
</template>

<script>
  import CourseForm from './Form.vue'
  import BreadCrumbs from '../Breadcrumbs.vue'

  export default {
    data() {
      return {
        table_data: {},
        loaded: false,
        crumbs: {
          nav: [
            {
              link: 'home',
              name: 'Home',
            },
            {
              link:'course',
              name: 'Courses'
            }
          ],
          current: 'Creating Course'
        }
      }
    },
    components: {
      CourseForm,
      BreadCrumbs
    }
  }
</script>
