<template>
  <div class="section">
    <bread-crumbs :crumbs="crumbs"></bread-crumbs>
    <h1 class="title is-1"> Editing {{course.name}} </h1>
    <icon name="refresh" scale="2"  v-if="!loaded" spin></icon>
    <course-form type="edit" v-if="loaded" :old_course="course">
    </course-form>
  </div>
</template>

<script>
  import CourseForm from './Form.vue'
  import BreadCrumbs from '../Breadcrumbs.vue'

  export default{
    data() {
      return {
        id: this.$route.params.id,
        course: {
          id: null,
          name: null,
          teacher_id: null
        },
        loaded: false,
        crumbs: {
          nav: [
            {
              link: 'home',
              name: 'Home',
            },
            {
              link:'course',
              name: 'Courses'
            }
          ],
          current: 'Editing Course'
        }
      }
    },
    created: function () {
      let vm = this;
      let id = vm.id;
      this.$http.get(vm.url_backend + 'course/' + id).then(function (result) {
        vm.course = result.body;
        vm.loaded = true;
      });
    },
    components:{
      CourseForm,
      BreadCrumbs
    }
  }
</script>
