<template>
  <div class="form">

    <div class="field">
      <label class="label">Course Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Name" v-model="course.name">
      </div>
    </div>

    <div class="field">
      <label class="label">Teacher</label>
      <div class="control">
         <div class="select">
          <select v-model="course.teacher_id">
            <option selected value v-if="this.type === 'create'">
              Select a teacher...
            </option>
            <option :value="teacher.id" v-for="teacher in teachers">
              {{teacher.name}} {{teacher.last_name}}
            </option>
          </select>
          </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <a @click.prevent="save_course()" class="button is-link">Save</a>
      </div>
    </div>
  </div>
</template>

<script>
  import {router} from '../../main'

  export default {
    props: {
      type: {
        default: 'create'
      },
      old_course: {
        type: Object,
        default: function () {
          return {
            id: 0,
            name: "",
            teacher_id: 0
          }
        }
      }
    },
    created: function () {
      let vm = this;
      this.$http.get(vm.url_backend + 'teacher/', {emulateJSON: true}).then(response => {
        vm.teachers = response.body.body;
        vm.course.id = vm.old_course.id;
        vm.course.name = vm.old_course.name;
        vm.course.teacher_id = vm.old_course.teacher_id;
      });
    },
    methods: {
      save_course: function (data) {
        let vm = this;
        if (vm.type === 'create') {
          this.$http.post(vm.url_backend + 'course/', vm.course, {emulateJSON: true})
            .then(response => {
              vm.popup_continue();
            }, response => {
              console.log("error!");
            });
        } else {
          this.$http.patch(vm.url_backend + 'course/', vm.course, {emulateJSON: true})
            .then(response => {
              router.push({name: 'course'});
            }, response => {
              console.log("error!");
            });
        }
      },
      popup_continue: function () {
        let vm = this;
        vm.$swal({
          title: 'Success',
          text: 'The test was added successfully. Do you want to add more?',
          type: 'success',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No'
        }).then(function () {
          vm.course.name = '';
          vm.course.teacher_id = null;
        }, function (dismiss) {
          router.push({name: 'course'});
        });
      }
    },
    data() {
      return {
        teachers: [],
        course: {
          id: 0,
          name: '',
          teacher_id: 0
        }
      }
    }
  }
</script>
