<template>
  <div class="section">
   <h1 class="title is-1"> Courses</h1>
    <bread-crumbs :crumbs="crumbs"></bread-crumbs>

    <router-link class="button is-primary is-pulled-right" :to="{name: 'course_create'}">
      <icon name="plus"></icon> New Course
    </router-link>
    <br><br>
    <crud-table
      v-if="are_courses_loaded"
      :table_data="course_table_data"
      :show_view="true"
      @deleted="load_courses"
    >
    </crud-table>
  </div>
</template>

<script>
  import CrudTable from '../CRUDTable.vue'
  import BreadCrumbs from '../Breadcrumbs.vue'

  export default {
    data () {
      return {
        student_table_data: {},
        are_courses_loaded: false,
        crumbs: {
          nav: [
            {
              link: 'home',
              name: 'Home',
            }
          ],
          current: 'Courses'
        }
      }
    },
    created: function () {
            this.load_courses();
    },
    methods: {
      load_courses: function () {
        let vm = this;
        this.$http.get(vm.url_backend + 'course').then(function (result) {
              vm.course_table_data = result.body;
              vm.are_courses_loaded = true;
        });
      },
    },
    components: {
      CrudTable,
      BreadCrumbs
    }
  }
</script>

