<template>
  <div class="section">

    <bread-crumbs :crumbs="crumbs"></bread-crumbs>
    <h1 class="title is-1" v-if="loaded"> {{course.name}} </h1>
    <icon name="refresh" scale="2" v-if="course === null" spin></icon>

    <p> Students in this course: </p>
    <ul v-if="loaded && course.students.length > 0">
      <li v-for="student in course.students">
        <a href="#" @click.prevent="remove(student.id)">
          <icon name="minus" class="red"></icon>
        </a>
        #{{student.id}}: {{student.name}} {{student.last_name}}
      </li>
    </ul>
    <p v-else> No students in this course</p>

    <h3> Add students: </h3>
    <ul>
      <li v-for="s in all_students">
        <a href="#" @click.prevent="add(s.id)">
          <icon name="plus" class="green"></icon>
        </a>
        #{{s.id}}: {{s.name}} {{s.last_name}}
      </li>
    </ul>

  </div>
</template>

<script>
  import BreadCrumbs from '../Breadcrumbs.vue'

  export default {
    data() {
      return {
        id: this.$route.params.id,
        loaded: false,
        course: null,
        students_in_course_ids: [],
        all_students: [],
        crumbs: {
          nav: [
            {
              link: 'home',
              name: 'Home',
            },
            {
              link: 'course',
              name: 'Courses'
            }
          ],
          current: 'Viewing Course'
        }
      }
    },
    created: function () {
      let vm = this;
      let id = vm.id;
      this.get_course();
      this.$http.get(vm.url_backend + 'student').then(function (result) {
        vm.all_students = result.body.body;
      });
    },
    methods: {
      get_course: function () {
        let vm = this;
        this.$http.get(vm.url_backend + 'course/' + vm.id).then(function (result) {
          vm.course = result.body;
          vm.loaded = true;
        });
      },
      remove: function(student_id){
        let vm = this;
        this.$http.get(vm.url_backend + 'course/remove/' + vm.id + '/' + student_id)
          .then(function (result) {
            vm.get_course();
        });
      },
      add: function(student_id){
        let vm = this;
        this.$http.get(vm.url_backend + 'course/add/' + vm.id+ '/' + student_id)
          .then(function (result) {
            vm.get_course();
        });
      }
    },
    components: {
      BreadCrumbs
    }
  }
</script>

<style scoped>
  .red {
    color: red;
  }

  .green {
    color: green;
  }
</style>
