<template>
  <div class="section">
    <h1 class="title is-1"> Timetable</h1>

    <div class="container">
      <time-slot> </time-slot>
      <div v-for="(data,day) in timetable_data" class="col_timetable">
        {{ day | capitalize }}
        <patient-slot :patient_visits="data"> </patient-slot>
      </div>
      <time-slot class="hours_timetable"> </time-slot>
    </div>
  </div>
</template>

<script>
  import TimeSlot from './TimeSlot.vue'
  import PatientSlot from './PatientSlot.vue'

  export default {
    filters: {
      capitalize: function (value) {
        if (!value) return '';
          value = value.toString();
        return value.charAt(0).toUpperCase() + value.slice(1)
      }
    },
    data () {
      return {
        timetable_data: {
            "monday": [
                {"name": "Jorge", "start_time": "08:00", "end_time": "09:00"},
                {"name": "Jorge", "start_time": "09:30", "end_time": "11:00"},
                {"name": "Jorge", "start_time": "15:00", "end_time": "16:00"},
                {"name": "Jorge", "start_time": "17:00", "end_time": "19:30"}
            ],
            "tuesday": [
                {"name": "Jorge", "start_time": "00:00", "end_time": "02:00"},
                {"name": "Jorge", "start_time": "11:30", "end_time": "12:00"},
                {"name": "Jorge", "start_time": "15:00", "end_time": "16:00"},
                {"name": "Jorge", "start_time": "22:00", "end_time": "23:30"}
            ],
            "wednesday": [
                {"name": "Jorge", "start_time": "08:00", "end_time": "09:00"},
                {"name": "Jorge", "start_time": "10:30", "end_time": "12:00"},
                {"name": "Jorge", "start_time": "15:00", "end_time": "16:00"},
                {"name": "Jorge", "start_time": "17:00", "end_time": "19:30"}
            ],
            "thursday": [
                {"name": "Jorge", "start_time": "08:00", "end_time": "09:00"},
                {"name": "Jorge", "start_time": "09:30", "end_time": "12:00"},
                {"name": "Jorge", "start_time": "15:00", "end_time": "16:00"},
                {"name": "Jorge", "start_time": "17:00", "end_time": "19:30"}
            ],
            "friday": [
                {"name": "Jorge", "start_time": "08:00", "end_time": "09:00"},
                {"name": "Jorge", "start_time": "09:30", "end_time": "12:00"},
                {"name": "Jorge", "start_time": "15:00", "end_time": "16:00"},
                {"name": "Jorge", "start_time": "17:00", "end_time": "19:30"}
            ]
        }
      }
    },
    created: function () {
            this.load_courses();
    },
    methods: {
      load_courses: function () {
        let vm = this;
        this.$http.get(vm.url_backend + 'course').then(function (result) {
              vm.course_table_data = result.body;
              vm.are_courses_loaded = true;
        });
      },
    },
    components: {
      TimeSlot,
      PatientSlot
    }
  }
</script>

<style scoped>
  .col_timetable {
    width: 150px;
    float: left;
  }
</style>
