<template>
  <div class="patient_slot">
    <span v-for="schedule in schedule_data">
      <p class="not_busy" v-if="!schedule.is_busy">
        <icon name="plus" class="green"></icon>
      </p>
      <p class="busy" v-if="schedule.is_busy">
        {{schedule.details.name}}
      </p>
    </span>
  </div>
</template>

<script>
  export default {
    props: ['patient_visits'],
    data() {
      return {
        schedule_data: []
      }
    },
    created: function () {
      this.fill_schedule_with_avaiable();
      this.add_busy_schedule();
    },
    methods: {
      get_date_and_time: function (hhmm) {
        let temp = hhmm.split(":");
        return {
          hour: parseInt(temp[0]),
          minutes: parseInt(temp[1])
        }
      },
      get_times_in_between: function (initial_hhmm, end_hhmm) {
        let initial = this.get_date_and_time(initial_hhmm);
        let final = this.get_date_and_time(end_hhmm);
        return {
          initial: initial.hour * 2 + initial.minutes/30,
          final: final.hour * 2 + final.minutes/30 - 1
        }
      },
      add_busy_schedule: function() {
        let vm = this;
        for (let pv_id in vm.patient_visits) {
          let visit = vm.patient_visits[pv_id];
          let times = vm.get_times_in_between(visit.start_time, visit.end_time);
          let i = 0;
          for( i = times.initial ; i <= times.final ; i ++ ){
            vm.schedule_data[i]['is_busy'] = true;
            vm.schedule_data[i]['details'] = {
              name: visit.name
            }
          }
        }
      },
      fill_schedule_with_avaiable: function () {
        let i = 0;
        for (i = 0; i < 24 * 2; i++) {
          this.schedule_data[i] = {
            'is_busy': false,
            'details': {}
          }
        }
      }
    }
  }
</script>

<style scoped>
  .green {
    color: green;
  }

  .not_busy {
    background-color: lightcyan;
  }

  .busy {
    background-color: lightpink;
  }
</style>
