<template>
  <div class="time_slots">
    &nbsp;
    <div v-for="hour in 24">
      <span class="time_slot">{{hour - 1}}:00 - {{hour - 1}}:30 </span> <br>
      <span class="time_slot">{{hour - 1}}:30 - {{hour}}:00 </span>
    </div>
  </div>
</template>


<style scoped>
  .time_slots {
    width: 105px;
    float: left;
  }

  .time_slot{
    font-size: 80%;
  }
</style>
