<template>
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li v-for="item in crumbs.nav">
                <router-link :to="{name: item.link}">
                    {{item.name}}
                </router-link>
            </li>
            <li class="is-active">
              <a aria-current="page"> {{crumbs.current}} </a>
            </li>
        </ul>
  </nav>
</template>

<script>
    export default {
        /*
            Crumbs must be in the format:
            'nav' : Array of object in the format [
                {
                    link: name of link (string),
                    name: string,
                },
                {
                    ...
                },
                ...
            ],
            'current: string
            }
         */
        props: [ 'crumbs' ]
    }
</script>
