<template>
  <table class="table table is-fullwidth is-bordered" v-if="table_data !== null">
    <thead>
    <tr>
      <th v-for="h in table_data.head"> {{ h }}</th>
      <th> Actions </th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="data_row in table_data.body">
      <td v-for="cell in data_row"> {{ cell }} </td>
      <td>
        <span v-if="show_view">
          <router-link :to="{ name: link_view, params: { id: data_row.id }}">
            <icon name="eye" class="lightblue"></icon>
          </router-link>
          |
        </span>
        <router-link :to="{ name: link_edit, params: { id: data_row.id }}">
          <icon name="pencil" class="orange"></icon>
        </router-link>
        |
        <a href="#" @click.prevent="delete_item(data_row.id)">
          <icon name="trash" class="red"></icon>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
  export default {
    props: {
      table_data: {
        default: null
      },
      show_view: {
        default: false
      }
    },
    data() {
      return {
        link_view: "",
        link_edit: "",
        link_delete: ""
      }
    },
    created: function () {
      this.link_view = this.table_data.type + '_view';
      this.link_edit = this.table_data.type + '_edit';
      this.link_delete = this.table_data.type + '_delete';
    },
    methods: {
      delete_item: function (id) {
        let vm = this;
        this.$swal({
          title: 'Are you sure?',
          text: 'This element, and all its associated data, will be deleted irreversibly.',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Im sure, delete it',
          cancelButtonText: 'I changed my mind'
        }).then(function () {
          vm.$http.delete(vm.url_backend + vm.table_data.type + '/delete/' + id)
            .then(response => {
              vm.$emit('deleted');
            });
        });
      }
    },
  }
</script>

<style scoped>
  .lightblue {
    color: lightblue;
  }

  .red {
    color: red;
  }

  .orange {
    color: orange;
  }

</style>
