<template>
      <nav class="navbar is-white">
      <div class="container">
        <div class="navbar-brand">
          <router-link class="navbar-item brand-text" :to="{name: 'home'}">
            Home
          </router-link>
          <div class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            <router-link class="navbar-item"
                         :to="{name: element.parent.to}"
                         :key="element.parent.name"
                         v-for="element in menu_elements">
              {{element.parent.name}}
            </router-link>
          </div>
        </div>
      </div>
    </nav>
</template>

<script>
  export default {
      props:{
        menu_elements: {
          default: []
        }
      }
  }
</script>
