<template>
        <div class="column is-3">
        <aside class="menu">
          <menu-element v-for="element in menu_elements"
                        :element="element"
                        :key="element.name">
          </menu-element>
        </aside>
      </div>
</template>

<script>
  // The following code is based off a toggle menu by @Bradcomp
  // source: https://gist.github.com/Bradcomp/a9ef2ef322a8e8017443b626208999c1
  /**(function() {
      var burger = document.querySelector('.nav-toggle');
      var menu = document.querySelector('.nav-menu');
      burger.addEventListener('click', function() {
          burger.classList.toggle('is-active');
          menu.classList.toggle('is-active');
      });
  })();
  **/
  import MenuElement from './SideMenuElement.vue'

  export default {
      props: ['menu_elements'],
      components: {
           MenuElement
      }
  }
</script>
