<template>
    <span>
        <p class="menu-label">
          {{element.parent.name}}
        </p>
        <ul class="menu-list">
          <!-- <li><a class="is-active">Dashboard</a></li> -->
          <li v-for="l in element.links" :key="l.name">
            <router-link :to="{name: l.to}">
              {{l.name}}
            </router-link>
          </li>
        </ul>
  </span>
</template>

<script>
  export default {
      props: {
        element: {
          default: []
        }
      }
  }
</script>
