<template>
  <div id="app">
    <nav-bar :menu_elements="menu_elements"></nav-bar>
    <div class="container">
      <div class="columns">
        <side-menu :menu_elements="menu_elements"></side-menu>
        <transition name="fade">
          <div class="column is-9">
            <router-view></router-view>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
  import NavBar from './sections/NavBar.vue'
  import SideMenu from './sections/SideMenu.vue'
  import MainContent from './sections/MainContent.vue'

  export default {
    name: 'app',
    data () {
      return {
        menu_elements: [
                    {
            parent: {
              name: 'Timetable',
              to: 'timetable'
            },
            links: [
              {
                'name':'Timetable',
                'to': 'timetable'
              }
            ]
          },
          {
            parent: {
              name: 'Teachers',
              to: 'teacher'
            },
            links: [
              {
                'name':'List',
                'to': 'teacher'
              },
              {
                'name': 'Create',
                'to': 'teacher_create'
              }
            ]
          },
          {
            parent: {
              name: 'Students',
              to: 'student'
            },
            links: [
              {
                'name':'List',
                'to': 'student'
              },
              {
                'name': 'Create',
                'to': 'student_create'
              }
            ]
          },
          {
            parent: {
              name: 'Courses',
              to: 'course'
            },
            links: [
              {
                'name':'List',
                'to': 'course'
              },
              {
                'name': 'Courses',
                'to': 'course_create'
              }
            ]
          },
          {
            parent: {
              name: 'Tests',
              to: 'test'
            },
            links: [
              {
                'name':'List',
                'to': 'test'
              }
            ]
          },
        ]
      }
    },
    components: {
      NavBar,
      SideMenu,
      MainContent
    }
  }
</script>
