<template>
  <div class="section">
    <bread-crumbs :crumbs="crumbs"></bread-crumbs>
    <h1 class="title is-1"> Creating new Test </h1>
    <test-form type="create"></test-form>
  </div>
</template>

<script>
  import TestForm from './Form.vue'
  import BreadCrumbs from '../Breadcrumbs.vue'

  export default {
    data() {
      return {
        table_data: {},
        loaded: false,
        crumbs: {
          nav: [
            {
              link: 'home',
              name: 'Home',
            },
            {
              link:'test',
              name: 'Tests'
            }
          ],
          current: 'Create Test'
        }
      }
    },
    components: {
      TestForm,
      BreadCrumbs
    }
  }
</script>
