<template>
  <div class="section">
    <bread-crumbs :crumbs="crumbs"></bread-crumbs>

    <h1 class="title is-1"> Editing {{test.name}} </h1>
    <icon name="refresh" scale="2"  v-if="!loaded" spin></icon>
    <test-form type="edit" v-if="loaded" :old_test="test"></test-form>
  </div>
</template>

<script>
  import TestForm from './Form.vue'
  import BreadCrumbs from '../Breadcrumbs.vue'

  export default{
    data() {
      return {
        id: this.$route.params.id,
        test: {
          id: null,
          name: null,
          course_id: null
        },
        loaded: false,
        crumbs: {
          nav: [
            {
              link: 'home',
              name: 'Home',
            },
            {
              link:'test',
              name: 'Tests'
            }
          ],
          current: 'Edit'
        }
      }
    },
    created: function () {
      let vm = this;
      let id = vm.id;
      let url = vm.url_backend + 'test/' + id;
      this.$http.get(url).then(function (result) {
        vm.test = result.body;
        vm.loaded = true;
      });
    },
    components:{
      TestForm,
      BreadCrumbs
    }
  }
</script>
