<template>
  <div class="form">

    <div class="field">
      <label class="label">Test Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Name" v-model="test.name">
      </div>
    </div>

    <div class="field">
      <label class="label">Course</label>
      <div class="control">
        <div class="select">
          <select v-model="test.course_id">
            <option selected value v-if="this.type === 'create'">
              Select a course...
            </option>
            <option :value="course.id" v-for="course in courses">
              {{course.name}} by {{course.teacher_name}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <a @click.prevent="save_test()" class="button is-link">
          <icon name="floppy-o"></icon>
          Save</a>
      </div>
    </div>
  </div>
</template>

<script>
  import {router} from '../../main'


  export default {
    props: {
      type: {
        default: 'create'
      },
      old_test: {
        type: Object,
        default: function () {
          return {
            id: 0,
            name: "",
            course_id: 0
          }
        }
      }
    },
    created: function () {
      let vm = this;
      this.$http.get(vm.url_backend + 'course/', {emulateJSON: true}).then(response => {
        vm.courses = response.body.body;
        vm.test.id = vm.old_test.id;
        vm.test.name = vm.old_test.name;
        vm.test.course_id = vm.old_test.course_id;
      });
    },
    methods: {
      save_test: function (data) {
        let vm = this;
        if (vm.type === 'create') {
          this.$http.post(vm.url_backend + 'test/', vm.test, {emulateJSON: true})
            .then(response => {
              vm.popup_continue();
            }, response => {
              console.log("error!");
            });
        } else {
          this.$http.patch(vm.url_backend + 'test/', vm.test, {emulateJSON: true})
            .then(response => {
              router.push({name: 'test'});
            }, response => {
              console.log("error!");
            });
        }
      },
      popup_continue: function () {
        let vm = this;
        vm.$swal({
          title: 'Success',
          text: 'The test was added successfully. Do you want to add more?',
          type: 'success',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No'
        }).then(function () {
          vm.test.name = '';
          vm.test.course_id = null;
        }, function (dismiss) {
          router.push({name: 'test'});
        });
      }
    },
    data() {
      return {
        courses: [],
        test: {
          id: 0,
          name: '',
          course_id: 0
        }
      }
    }
  }
</script>
