<template>
  <div class="form">

    <div class="field">
      <label class="label">Grade</label>
      <div class="control">
        <input class="input" type="number" min="0" max="100" v-model="grade.value">
      </div>
    </div>

    <div class="field">
      <label class="label">Student</label>
      <div class="control">
        <div class="select">
          <select v-model="grade.student_id">
            <option :value="student.id" v-for="student in students">
              {{student.name}} {{student.last_name}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <a @click.prevent="save_grade()" class="button is-link">
          <icon name="floppy-o"></icon>
          Save
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      students: {
        default: function () {
          return []
        }
      },
      test_id: {
        default: 0
      }
    },
    data() {
      return {
        grade: {
          value: 0,
          student_id: 0
        }
      }
    },
     methods: {
       save_grade: function () {
         let vm = this;
         let grade_data = {
           value: vm.grade.value,
           student_id: vm.grade.student_id,
           test_id: vm.test_id
         };
         this.$http.post(vm.url_backend + 'test/grade/', grade_data, { emulateJSON: true }).then(function (result) {
          vm.value = 0;
          vm.student_id = null;
        });
         this.$emit('added_grade');
       }
     }
  }
</script>
