<template>
  <div class="section">
   <h1 class="title is-1"> Tests</h1>
    <bread-crumbs :crumbs="crumbs"></bread-crumbs>

    <router-link class="button is-primary is-pulled-right" :to="{name: 'test_create'}">
      <icon name="plus"></icon> New Test
    </router-link>
    <br><br>
    <crud-table
      v-if="are_tests_loaded"
      :table_data="test_table_data"
      :show_view="true"
      @deleted="load_test">
    </crud-table>
  </div>
</template>

<script>
  import CrudTable from '../CRUDTable.vue'
  import BreadCrumbs from '../Breadcrumbs.vue'

  export default {
    data () {
      return {
        test_table_data: {},
        are_tests_loaded: false,
        crumbs: {
          nav: [
            {
              link: 'test',
              name: 'Test',
            }
          ],
          current: 'Tests'
        }
      }
    },
    created: function () {
      this.load_test();
    },
    methods: {
      load_test: function () {
        let vm = this;
        this.$http.get(vm.url_backend + 'test').then(function (result) {
              vm.test_table_data = result.body;
              vm.are_tests_loaded = true;
        });
      },
    },
    components: {
      CrudTable,
      BreadCrumbs
    }
  }
</script>
