<template>
  <div class="section">

    <bread-crumbs :crumbs="crumbs"></bread-crumbs>

    <div v-if="loaded">
      <h1 class="title is-1"> {{test.name}} </h1>
      <icon name="refresh" scale="2" v-if="test === null" spin></icon>

      <p><b>Course:</b> {{test.course}}</p>
      <p><b>Grades in this test:</b></p>

      <table class="table" v-if="loaded && test.grades.length > 0">
        <thead>
        <tr>
          <th> Student </th>
          <th> Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="g in test.grades">
          <td> {{g.student}} </td>
          <td> {{g.value}}</td>
        </tr>
        </tbody>
      </table>

      <p v-else> No grades for this test</p>

      <br>
      <h3>Add new grade for this test:</h3>
      <form-students :students="test.students" :test_id="test.id" @added_grade="get_test"></form-students>
    </div>


  </div>
</template>

<script>
  import BreadCrumbs from '../Breadcrumbs.vue'
  import FormStudents from './FormStudents.vue'

  export default {
    data() {
      return {
        id: this.$route.params.id,
        loaded: false,
        test: null,
        crumbs: {
          nav: [
            {
              link: 'home',
              name: 'Home',
            },
            {
              link: 'test',
              name: 'Tests'
            }
          ],
          current: 'Viewing Test'
        }
      }
    },
    created: function () {
      let vm = this;
      let id = vm.id;
      this.get_test();
    },
    methods: {
      get_test: function () {
        let vm = this;
        this.$http.get(vm.url_backend + 'test/' + vm.id).then(function (result) {
          vm.test = result.body;
          vm.loaded = true;
        });
      },
    },
    components: {
      BreadCrumbs,
      FormStudents
    }
  }
</script>

<style scoped>
  .red {
    color: red;
  }

  .green {
    color: green;
  }
</style>
